name: rar batch Uploader
on:
  workflow_dispatch:
    inputs:
      download_url:
        description: 'Direct link to .rar'
        required: true

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install @aws-sdk/client-s3 @aws-sdk/lib-storage axios tsx
      - name: Run Script
        env:
          R2_ENDPOINT: ${{ secrets.R2_ENDPOINT }}
          R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          R2_BUCKET_NAME: ${{ secrets.R2_BUCKET_NAME }}
          DOWNLOAD_URL: ${{ github.event.inputs.download_url }}
        run: npx tsx rar-upload.ts
